footer
  .container.text-center
    p.pull-left © 2020 CRY tech, Inc. All Rights Reserved
    //a.github-button.float-right(href="https://github.com/cloudcmsbpr/cloudcms", data-icon="octicon-star", data-show-count="true", aria-label="Star microsoft/typescript-node-starter on GitHub") Star
